:root {
    --1brightest: #fbfafe;
    --2: #e8e5f9;
    --3: #b6afec;
    --4: #7465d9;
    --5: #3f2cad;
    --6: #271a63;
    --7: #150c2d;
    --8darkest: #0e0719;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    outline: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, image {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body::-webkit-scrollbar, p::-webkit-scrollbar {
    width: .4em;
}

body::-webkit-scrollbar-track, p::-webkit-scrollbar-track {
    background-color: var(--8darkest);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--5);
}

body {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    min-height: 100vh;
    height: 100svh;
}

.body-container {
    min-height: 100vh;
    height: 100svh;
    background: linear-gradient(to right, var(--8darkest), var(--8darkest), var(--8darkest), var(--7), var(--7), var(--7), var(--7), var(--7), var(--8darkest), var(--8darkest), var(--8darkest))no-repeat 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: 810;
    color: var(--1brightest);
    user-select: none;
    background-color: var(--7);
    padding-top: .3rem;
    white-space: nowrap;
}

.ani-name:hover {
    background: linear-gradient(120deg, var(--1brightest), var(--1brightest), var(--1brightest), var(--1brightest), var(--1brightest), var(--1brightest), var(--5), var(--4), var(--1brightest)) var(--1brightest) no-repeat 0 0;
    background-size: 0% 100%;
    animation: stripes 1.4s ease forwards;
}

.ani-name:hover .name {
    mix-blend-mode: darken;
}

@keyframes stripes {
    to {
      background-size: 100% 100%;
    }
}

.first-line {
    font-size: 2.8rem;
    font-weight: 640;
    color: var(--1brightest);
    user-select: none;
}

.second-line {
    font-size: 2.8rem;
    font-weight: 640;
    color: var(--1brightest);
    user-select: none;
    margin-bottom: .3rem;
}

.third-line {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--1brightest);
    user-select: none;
}

.inline-word-container {
    display: inline-block;
}

.inline-word {
    display: inline-block;
    height: 2.9rem;
    overflow: hidden;
}

.inline-word-jp {
    display: inline-block;
    height: 2.1rem;
    overflow: hidden;
    padding-top: .3rem;
}

.inline-word > div {
    transition: transform .2s;
}

.inline-word-jp > div {
    transition: transform .2s;
}

.inline-word-bottom {
    color: var(--4);
}

.iwb-jp {
    font-size: 2.7rem;
}

.inline-word-container--active .inline-word > div {
    transform: translateY(-100%);
}

.inline-word-container--active .inline-word-jp > div {
    transform: translateY(-100%);
}

.project-button-container {
    background-color: var(--7);
    padding: .6em .6em .6em .6em;
    margin-top: 1.7rem;
    border: 2px solid var(--4);
    color: var(--1brightest);
    cursor: pointer;
    transition: box-shadow .2s ease, border .2s ease, background-color .2s ease;
    width: 11rem;
    text-align: center;
}

.project-button-container:hover {
    box-shadow: 0 0 10px 4px var(--6);
    border: 2px solid var(--3);
    background-color: var(--6);
}

.project-button-container span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
    font-size: 2rem;
    font-weight: 700;
}

.project-button-container span:after {
    content: '\21B7';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

.project-button-container:hover span {
    padding-right: 2rem;
}

.project-button-container:hover span:after {
    opacity: 1;
    right: 0;
}

.left-bar {
    position: fixed;
    display: flex;
    align-items: center;
}

.left-bar ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    color: var(--1brightest);
}

.left-bar ul li a span {
    font-size: 2rem;
    user-select: none
}

.left-bar ul li a i {
    font-size: 2.4rem;
} 

.left-bar li {
    background-color: var(--7);
    transition: transform 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left-bar li:nth-child(odd) {
    background-color: var(--6);
    transition: transform 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left-bar-about {
    cursor: pointer;
}

.left-bar-socials {
    cursor: pointer;
}

.about-container {
    background-color: var(--7);
    color: var(--2);
    font-size: 1.6rem;
    padding: 0 2rem 3.4rem 2rem;
    text-align: center;
    display: none;
    border: 1px solid var(--4);
    box-shadow: 0 0 10px 7px var(--6);
}

.about-container button {
    border: 1px solid var(--4);
    background-color: var(--6);
    margin: .8rem .4% .8rem 98.6%;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--1brightest);
    padding-bottom: .1rem;
    font-size: 1rem;
    cursor: pointer;
}

.about-container button:hover {
    box-shadow: 0 0 10px 4px var(--6);
    background-color: var(--5);
}

.socials-container {
    background-color: var(--7);
    height: auto;
    width: max(90vw, auto);
    color: var(--2);
    padding: 0 2rem 3.4rem 2rem;
    display: none;
    border: 1px solid var(--4);
    box-shadow: 0 0 8px 5px var(--6);
}

.socials-container button {
    border: 1px solid var(--4);
    background-color: var(--6);
    margin: .8rem 1% .8rem 98%;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--1brightest);
    padding-bottom: .1rem;
    font-size: 1rem;
    cursor: pointer;
}

.socials-container button:hover {
    box-shadow: 0 0 10px 4px var(--6);
    background-color: var(--5);
}

.socials-grid {
    display: grid;
    gap: 1em;
    justify-content: space-around;
    padding-right: 1rem;
}

.socials-grid a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    transition: transform .3s, background-color .3s;
    z-index: 3;
}

.socials-grid a span {
    font-size: 2.6rem;
    color: var(--2);
}

.socials-grid a i {
    font-size: 3rem;
    margin-left: 1rem;
}

.socials-grid a:hover {
    transform: scale(1.06);
    background-color: var(--6);
}

.logo-container {
    position: fixed;
    top: .4rem;
    left: .4rem;
}

.logo {
    font-size: 3rem;
    font-weight: 810;
    color: var(--1brightest);
    position: absolute;
    user-select: none;
    transition: .3s;
    z-index: 3;
}

.logo:hover {
    color: var(--4);
}

.footer-container {
    max-width: 100vw;
    height: max(15vh, 30px);
    background-color: var(--7);
    border-top: 2px solid var(--6);
    color: var(--2);
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adress {
    transition: .2s text-shadow;
}

.adress span {
    color: var(--3);
}

.adress:hover{
    text-shadow: 0 0 8px var(--3);
}

/* ------------- Projects.html ------------- */

.projects-body-container {
    background: linear-gradient(to right, var(--8darkest), var(--8darkest), var(--8darkest), var(--7), var(--7), var(--7), var(--7), var(--7), var(--8darkest), var(--8darkest), var(--8darkest))no-repeat 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title-container {
    width: fit-content;
    height: fit-content;
}

.projects-title {
    font-size: 4.6rem;
    font-weight: 730;
    color: var(--1brightest);
    background-color: var(--7);
    user-select: none;
}

.ani-projects:hover {
    background: linear-gradient(120deg, var(--1brightest), var(--1brightest), var(--1brightest), var(--1brightest), var(--1brightest), var(--1brightest), var(--5), var(--4), var(--1brightest)) var(--1brightest) no-repeat 0 0;
    background-size: 0% 100%;
    animation: stripes 1.4s ease forwards;
}

.ani-projects:hover .projects-title {
    mix-blend-mode: darken;
}

.projects-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    gap: 4rem 4rem;
}

.project {
    color: var(--1brightest);
}

.img-container {
    box-shadow: 0 0 7px 4px var(--4);
    border: 1px solid var(--2);
    overflow: hidden;
    transition: .3s ease;
    position: relative;
}

.img-container:hover {
    box-shadow: 0 0 7px 4px var(--5);
}

.img-container:hover > img {
    transform: scale(1.05);
    filter: brightness(55%) blur(2px);
}

.img-container:hover > .btn-container {
    opacity: 1;
}

.img-container button {
    position: absolute;
    font-family: sofia;
    transform: translate(-50%, -50%);
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    letter-spacing: .03rem;
    padding: .3rem .7rem;
    background-color: var(--6);
    color: var(--1brightest);
    border: none;
    cursor: pointer;
    border: 1px solid var(--4);
    transition: .15s ease;
}

.img-container button i {
    margin-right: .3rem;
}

.btn-container {
    opacity: 0;
    transition: .3s ease;
}

.project img {
    transition: .3s ease;
}

.pj-btn:hover {
    box-shadow: 0 0 9px 1px var(--3);
    border: 1px solid var(--2);
}

.portfolio {
    grid-area: portfolio;
}

.blog {
    grid-area: blog;
}

.ambient {
    grid-area: ambient;
}

.placeholder {
    grid-area: placeholder;
}


/* ------------- Media queries ------------- */


@media only screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }
    .left-bar {
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        margin-top: -6rem;
    }
    .left-bar ul {
        display: flex;
    }
    .left-bar ul li a {
        min-width: 20vw;
        width: 20svw;
        flex-direction: column;
    }
    .left-bar ul li a span {
        text-align: center;
        white-space: nowrap;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .left-bar li:hover {
        transform: translateY(45%);
    }
    .logo {
        margin-top: 4rem;
    }
    .name {
        font-size: 3rem;
    }
    .holder {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .socials-grid {
        grid-template-columns: 1fr;
    }
    .about-container {
        min-width: 95vw;
        width: 95svw;
        height: auto;
    }
    .projects-title-container {
        margin-top: 10rem;
    }
    .projects-container {
        grid-template-areas: 
        "portfolio"
        "blog"
        "ambient"
        "placeholder";
    }
    .project img {
        min-width: 90vw;
        width: 90svw;
    }.img-container button {
        top: 80%;
        left: 50%;
        font-size: 2rem;
    }
    .img-container button i {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 600px) {
    :root {
        font-size: 13px;
    }
    .left-bar {
        margin-left: -8.2rem;
        top: 50%;
        transform: translate(0, -50%);
    }
    .left-bar ul li a {
        width: 13rem;
    }
    .left-bar ul li a span {
        text-align: right;
    }
    .left-bar ul li a i {
        margin-left: 1.9rem;
    }
    .left-bar li:hover {
        transform: translateX(45%);
    }
    .left-bar-cv i {
        margin-right: .45rem;
    }
    .left-bar-github i {
        margin-right: 0.23rem;
    }
    .left-bar-socials i {
        margin-right: .09rem;
    }
    .left-bar-blog i {
        margin-right: .4rem;
    }
    .name {
        font-size: 4.5rem;
    }
    .holder {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
    .socials-grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-container {
        height: auto;
        width: 60vw;
    }
    .projects-title-container {
        margin-top: 2rem;
    }
    .projects-container {
        grid-template-areas: 
        "portfolio blog"
        "ambient placeholder";
    }
    .project img {
        min-width: 32vw;
        width: 32svw;
    }
    .projects-body-container {
        min-height: 100vh;
        height: 100svh;
    }
    .img-container button {
        top: 86%;
        left: 50%;
        font-size: 1.4rem;
    }
    .img-container button i {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        font-size: 14px;
    }
    .left-bar {
        margin-left: -8.2rem;
        top: 50%;
        transform: translate(0, -50%);
    }
    .left-bar ul li a {
        width: 13rem;
    }
    .left-bar ul li a span {
        text-align: right;
    }
    .left-bar ul li a i {
        margin-left: 1.9rem;
    }
    .left-bar li:hover {
        transform: translateX(45%);
    }
    .left-bar-cv i {
        margin-right: .45rem;
    }
    .left-bar-github i {
        margin-right: 0.23rem;
    }
    .left-bar-socials i {
        margin-right: .09rem;
    }
    .left-bar-blog i {
        margin-right: .4rem;
    }
    .name {
        font-size: 4.5rem;
    }
    .holder {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
    .socials-grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-container {
        height: auto;
        width: 60vw;
    }
    .projects-title-container {
        margin-top: 2rem;
    }
    .projects-container {
        grid-template-areas: 
        "portfolio blog"
        "ambient placeholder";
    }
    .project img {
        min-width: 32vw;
        width: 32svw;
    }
    .projects-body-container {
        min-height: 100vh;
        height: 100svh;
    }
    .projects-body-container {
        height: fit-content;
    }
    .img-container button {
        top: 86%;
        left: 50%;
        font-size: 1.4rem;
    }
    .img-container button i {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1158px) {
    :root {
        font-size: 15px;
    }
    .left-bar {
        margin-left: -8.2rem;
        top: 50%;
        transform: translate(0, -50%);
    }
    .left-bar ul li a {
        width: 13rem;
    }
    .left-bar ul li a span {
        text-align: right;
    }
    .left-bar ul li a i {
        margin-left: 1.9rem;
    }
    .left-bar li:hover {
        transform: translateX(45%);
    }
    .left-bar-cv i {
        margin-right: .45rem;
    }
    .left-bar-github i {
        margin-right: 0.23rem;
    }
    .left-bar-socials i {
        margin-right: .09rem;
    }
    .left-bar-blog i {
        margin-right: .4rem;
    }
    .name {
        font-size: 4.5rem;
    }
    .holder {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
    .socials-grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-container {
        height: auto;
        width: 60vw;
    }
    .projects-title-container {
        margin-top: 2rem;
    }
    .projects-container {
        grid-template-areas: 
        "portfolio blog"
        "ambient placeholder";
    }
    .project img {
        min-width: 32vw;
        width: 32svw;
    }
    .projects-body-container {
        height: fit-content;
    }
    .img-container button {
        top: 86%;
        left: 50%;
        font-size: 1.4rem;
    }
    .img-container button i {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1303px) {
    :root {
        font-size: 17px;
    }
    .left-bar {
        margin-left: -8.2rem;
        top: 50%;
        transform: translate(0, -50%);
    }
    .left-bar ul li a {
        width: 13rem;
    }
    .left-bar ul li a span {
        text-align: right;
    }
    .left-bar ul li a i {
        margin-left: 1.9rem;
    }
    .left-bar li:hover {
        transform: translateX(45%);
    }
    .left-bar-cv i {
        margin-right: .45rem;
    }
    .left-bar-github i {
        margin-right: 0.23rem;
    }
    .left-bar-socials i {
        margin-right: .09rem;
    }
    .left-bar-blog i {
        margin-right: .4rem;
    }
    .name {
        font-size: 4.5rem;
    }
    .holder {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
    .socials-grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-container {
        height: auto;
        width: 60vw;
    }
    .projects-title-container {
        margin-top: 2rem;
    }
    .projects-container {
        grid-template-areas: 
        "portfolio blog"
        "ambient placeholder";
    }
    .project img {
        min-width: 32vw;
        width: 32svw;
    }
    .projects-body-container {
        height: fit-content;
    }
    .img-container button {
        top: 86%;
        left: 50%;
        font-size: 1.4rem;
    }
    .img-container button i {
        font-size: 1.1rem;
    }
}